# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake stuff
build/
qt-build/

# doc stuff
doc/*
!doc/Doxyfile

# IDE stuff
.project
